@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Обзоры товаров</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReviewApp.styles.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <span>Добро пожаловать @User.Identity.Name!</span>
            <a asp-controller="Account" asp-action="LogOut" title="Выйти">Выйти</a>
        </header>
    }
    else
    {
        <header>
            <a asp-controller="Account" asp-action="Login" title="Войти">Войти</a>
            <a asp-controller="Account" asp-action="Register" title="Зарегистрироваться">Зарегистрироваться</a>
        </header>
    }

<div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <div class="centrally-aligned signature">Николай Калуджерович</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
