@model ReviewApp.Models.ViewModels.CommentsViewModel

<h1>Отзывы:</h1>

<div>
    @if (Model.Comments.Count == 0)
    {
        <h2>Здесь пока нет отзывов</h2>
    }
    @foreach (var comment in Model.Comments)
    {
        <div class="good">
            <div>
                <div>@comment.Content</div>
            </div>
            <div class="flex-display">
                @for (int i = 0; i < 5; i++)
                {
                    <div>&#11088</div>
                }
                @for (int i = 0; i < 5 - @comment.Rating; i++)
                {
                    <div>&#9956</div>
                }
            </div>
            @Html.AntiForgeryToken()
        </div>
    }
</div>