@model ReviewApp.Models.ViewModels.AccountViewModels.AccessDeniedViewModel
<head>
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
<h1 class>Доступ запрещён!</h1>