@model ReviewApp.Models.ViewModels.AccountViewModels.LoginViewModel

<head>
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>

<h1>Вход на сайт</h1>

<div class="form-div">
    <form method="post" asp-controller="Account" asp-action="LoginPost">
        <div class="form-inside">
            
            <div class="input-div">
                <div class="margin-elements width-div-input">
                    <label asp-for="Login"></label>
                    <input asp-for="Login" class="input-boxes"/>
                    <span asp-validation-for="Login"></span>
                </div>
                
                <div class="margin-elements width-div-input">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="input-boxes"/>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div asp-validation-summary="All" class="validation-summary"></div>
    
            <div class="centrally-aligned">
                <button type="submit"  class="account-button">Войти</button>
            </div>
            <div class="margin-elements centrally-aligned">
                Ещё не зарегистрированы? <a asp-controller="Account" asp-action="Register">Регистрация</a>
            </div>
        </div>
    </form>
</div>