<h1>Выход с сайта</h1>

<div class="flex-display">
    <form method="post" asp-controller="Account" asp-action="GoBackPost" class="max-width">
        <div class="margin-left-bottom-auto">
            <button type="submit">Нет</button>
        </div>
    </form>
    <form method="post" asp-controller="Account" asp-action="LogOutPost" class="max-width">
        <div>
            <button type="submit">Да</button>
        </div>
    </form>
</div>