body {
  color: hsl(0, 0%, 32%);
  background-color: hsl(210, 100%, 95%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

h1 {
  color: hsl(216, 90%, 39%);
  font-size: 2rem;
  text-align: center;
}

h2 {
  color: hsl(216, 90%, 39%);
  font-size: 1.5rem;
  text-align: center;
}

.generic-button {
  border: hsl(216, 90%, 39%) 0.1rem solid;
  border-radius: 0.5rem;
  background: hsl(210, 100%, 90%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.generic-button:hover {
  background: hsl(210, 100%, 95%);
}

.validation-summary {
  color: hsl(216, 90%, 39%);
  font-weight: bold;
}

.form-group {
  margin-bottom: 0.5rem;
}

.delete-button-picture{
  width: 1rem;
  height: 1rem;
}

.delete-button{
  width: 1rem;
  height: 1rem;
  margin-bottom: auto;
  border: none;
  background-color: transparent;
}

.add-comment-button {
  background-color: hsl(193, 25%, 44%);
  border: none;
  color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.95rem;
}

.add-comment-button:hover {
  background-color: hsl(193, 25%, 24%);
  font-size: 1rem;
}

.flex-display{
  display: flex;
}

/* Good name */
.good-name {
  font-size: 2rem;
}

/* Good description */
.good-description {
  font-size: 0.8rem;
}

.good {
  background-color: hsl(190, 88%, 57%);
  border: #0a58ca 0.1rem dashed;
  border-radius: 0.5rem;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.add-good-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

/* Centrally-aligned text */
.centrally-aligned {
  text-align: center;
}

.time-span-and-add-comment-link {
    margin-left: auto;
    margin-bottom: auto;
}

.add-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.full-width {
  width: 100%;
}